.home {
  width: 100%;
  font-size: 1rem;
  &-container {
    width: 100%;
    position: relative;
  }
  &-header {
    width: 100%;
    background-color: $color-primary;
    padding: 5rem 1.8rem 6.35rem 1.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    @include respond(phone) {
      padding-bottom: 70px;
    }

    &-container {
      display: flex;
      width: 100%;
    }

    &-content {
      flex-basis: 80%;
      max-width: 60%;
      @include respond(phone) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }

    &-svg {
      flex-basis: 500px;
      @include respond(phone) {
        display: none;
      }
    }
    &-img {
      width: 100%;
    }
  }

  &-main {
    &-partners {
      width: 100%;
      position: relative;

      &-container {
        display: grid;
        grid-template-columns: repeat(6, 15vh);
        justify-content: space-around;
        column-gap: 20px;

        @include respond(phone) {
          grid-template-columns: repeat(4, 1fr);
          row-gap: 50px;
        }
      }

      &-list {
        &-4,
        &-5 {
          @include respond(phone) {
            display: none;
          }
        }
      }

      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &-about {
      width: 100%;
      position: relative;
      justify-content: center;

      &-container {
        display: flex;
        padding: 2rem;

        @media (max-width: 800px) {
          flex-direction: column;
        }
      }

      &-box {
        flex-shrink: 0;
        @include respond(phone) {
          margin-right: 0 !important;
        }
      }

      &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &-content {
        align-self: center;
        flex-grow: 1;
        @media (max-width: 800px) {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        & > h3 {
          @include respond(phone) {
            text-align: center;
          }
        }
      }
      &-text {
        @media screen and (max-width: 800px) {
          text-align: center;
        }
      }
    }

    &-services {
      background-color: $background-1;
      width: 100%;
      position: relative;

      &-container {
        padding-top: 1.5rem;
      }

      &-intro {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 30px;
        padding-bottom: 2rem;

        @include respond(tab-port) {
          grid-template-columns: repeat(3, 1fr);
        }

        @include respond(phone) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 500px) {
          grid-template-columns: repeat(1, 100%);
        }
        @media (max-width: 350px) {
          grid-template-columns: repeat(1, 100%);
        }
      }
    }
    &-customer {
      width: 100%;

      &-container {
        width: 100%;
        position: relative;
        @include respond(phone) {
        }
      }

      &-content {
        @include respond(phone) {
        }
      }

      &-title {
        @include respond(phone) {
          text-align: center;
        }
      }
      &-subtitle {
        width: 50%;
        @include respond(phone) {
          text-align: center;
          width: 100%;
        }
      }
      &-title {
        // width: 70%;
        @include respond(phone) {
          text-align: center;
          width: 100%;
        }
      }

      &-carousel {
        width: 100%;
        position: relative;
        overflow: hidden;

        &-container {
          display: flex;
          justify-content: space-between;
        }

        &-content {
          display: flex;
          flex-direction: column;
          @include respond(phone) {
            align-items: center;
          }

          & > *:first-child {
            margin-bottom: auto;
            @include respond(phone) {
              margin-bottom: 3rem;
              font-size: 1rem;
            }
          }
        }

        &-imagebox {
          flex-basis: 80%;
          max-width: 267px;
          align-self: flex-end;
          position: relative;

          @include respond(phone) {
            display: none;
          }
        }

        &-img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }

        &-quotes {
          position: absolute;
          display: flex;
          bottom: 0px;
          left: 0;
          width: 4rem;
          z-index: 100000;

          & > img {
            width: 100%;
          }
        }
      }

      &-dots {
        display: flex;
        @include respond(phone) {
          text-align: center;
          width: 100%;
          justify-content: center;
          margin-top: 3rem;
        }
      }

      &-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        cursor: pointer;
        background: rgba(115, 135, 150, 0.5);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.inactive {
  opacity: 0.5;
}

.active {
  background-color: $color-primary !important;
}
