.footer {
  width: 100%;
  background-color: $color-white;

  &-container {
    display: grid;
    grid-template-columns:  300px repeat(4, 1fr);
    column-gap: 30px;
    @include respond(tab-land) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      text-align: center;
    }
  }

  &-section-1 {
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      grid-column: 1/-1;
      align-items: center;
      margin-bottom: 5rem;
    }
  }

  &-img-box {
    width: 150px;
  }

  &-img {
    width: 100%;
  }
  &-text {
    width: 100%;
    @include respond(tab-land) {
      text-align: center;
    }
  }
  &-socials {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  &-links {
    display: flex;
    flex-direction: column;
  }
  &-link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1rem;
      line-height: 24px;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &:focus {
      outline: none;
    }
  }
}
